body{
    background-color: white;
}


.container{
    display: flex;
    justify-content: center;
    
   
}
.cardt{
    width: 300px;
    height: 450px;
    background-color:white;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px grey;
    
}
.cardt-image{
    border-radius: 15px 15px 0 0;
    background-size: cover
}
.img-item{
    border: 3px solid black;
}
