body{
    background-color: rgb(239, 237, 237);
}


.container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
   
}
.cardt{
    width: 300px;
    height: 500px;
    background-color:white;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px grey;
    
}
.cardt-image{
    border-radius: 15px 15px 0 0;
    background-size: cover
}
.img-item{
    border: 3px solid black;
    width: 230px;
}
.name-products{
   font-size: 22px;
    font-weight: 600;
}
@media (max-width: 600px) {
    .cardt{
        width: 200px;
        height: 300px;
    }
    .img-item{
        width: 100px;
    }
    
}